<button (click)="onCourseEdited()">Edite Course</button>
<!-- <div class="courses"  *ngIf="courses.length > 0; else noCourse" #container> -->
<div class="courses"  *ngIf="courses[0] as course" #container>

  <ng-template #blankImage let-courseName="description">
    <p class="warn">{{courseName}} No image is available yet .</p>
    <img src="https://via.placeholder.com/150" width="300" height="200" alt="No image available">
  </ng-template>

  <course-card
    *ngFor="let course of courses"
    #cardRef1
    [noImageTpl]="blankImage"
    [course]="course"
    (courseSelected)="onCourseSelected($event)"
  >
  <course-image [src]="course.iconUrl"></course-image>
  <div class="course-description">
    {{course.longDescription}}
  </div>
  </course-card>
</div>
<ng-template #noCourse>
  <h1>NO DATA</h1>
</ng-template>
